<app-header></app-header>
   <!-- breadcrumb start-->
   <section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Login</h2>
                        <p>Home <span>-</span> Login</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<br><br>
<!--================login_part Area =================-->
<firebase-ui (signInSuccessWithAuthResult)="successCallback($event)"
             (signInFailure)="errorCallback($event)"></firebase-ui>
<!--================login_part end =================-->

<app-footer></app-footer>