<app-header></app-header>
  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Product Checkout</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!--================Checkout Area =================-->
  <section class="checkout_area padding_top">
    <div class="container">
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
            <form class="row contact_form" (ngSubmit)="onSave(f.value)" #f="ngForm">
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="first" name="firrst_name" [(ngModel)]="shipping.first_name"  required />
                <span class="placeholder" data-placeholder="First name"></span>
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="last" name="last_name" [(ngModel)]="shipping.last_name"  required />
                <span class="placeholder" data-placeholder="Last name"></span>
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="number" maxlength="10" minlength="10" class="form-control" id="number" name="number" [(ngModel)]="shipping.phone" required />
                <span class="placeholder" data-placeholder="Phone number" ></span>
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="email" class="form-control" id="email" name="compemailany" [(ngModel)]="shipping.address" required />
                <span class="placeholder" data-placeholder="Email Address" ></span>
              </div>
              <div class="col-md-12 form-group p_star">
                  <input type="text" class="form-control" id="country" name="country" [(ngModel)]="shipping.country" required />
                  <span class="placeholder" data-placeholder="Country"></span>
                </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="add1" name="add1" [(ngModel)]="shipping.add1" required />
                <span class="placeholder" data-placeholder="Address line 01"></span>
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="add2" name="add2" [(ngModel)]="shipping.add2" required />
                <span class="placeholder" data-placeholder="Address line 02"></span>
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="city" name="city" [(ngModel)]="shipping.city" required />
                <span class="placeholder" data-placeholder="Town/City"></span>
              </div>
              <div class="col-md-12 form-group">
                <input type="number" maxlength="6" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP" [(ngModel)]="shipping.zip"  required />
              </div>
              <div class="col-md-12 form-group">
                <!-- <div class="creat_account">
                  <input type="checkbox" id="f-option2" name="selector"  required />
                  <label for="f-option2">Create an account?</label>
                </div> -->
              </div>
            </form>
          
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <!-- <span>Total</span> -->
                  </a>
                </li>
                <li *ngFor="let c of objectKey">
                  <a href="#">{{cart[c].product.title}}
                    <span class="middle">x {{cart[c].quantity}}</span>
                    <!-- <span class="last">${{cart[c].product.price * cart[c].quantity}}</span> -->
                  </a>
                </li>
              </ul>
              <!-- <ul class="list list_2">
                <li>
                  <a href="#">Total
                    <span>$ {{getTotalPrice()}}</span>
                  </a>
               
              </ul>  -->
              <br>
              <!-- <div class="creat_account">
                <input type="checkbox" id="f-option4" name="selector"  required />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#"> terms & conditions*</a>
              </div> -->

              <a *ngIf="shipping.zip!==''" class="btn_3" (click)="orders()">Confirm</a>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->
<app-footer></app-footer>