<app-header></app-header>
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h2>Product Checkout</h2>
            <p>Home <span>-</span> Shop Single</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="checkout_area padding_top">
    <form class="row contact_form" (ngSubmit)="onSave(f.value)" #f="ngForm">
    <div class="container">
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="first" name="firrst_name" placeholder="First Name" [(ngModel)]="shipping.first_name"  required />
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="last" name="last_name" placeholder="Last Name" [(ngModel)]="shipping.last_name"  required />
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="tel" maxlength="10" minlength="10" class="form-control" placeholder="Phone Number" id="number" name="number" [(ngModel)]="shipping.phone" required />
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="email" class="form-control" id="email" name="compemailany" placeholder="Email" [(ngModel)]="shipping.email" required />
              </div>
              <div class="col-md-12 form-group p_star">
                  <input type="text" class="form-control" id="country" name="country" placeholder="Country" [(ngModel)]="shipping.country" required />
                </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="add1" name="add1" placeholder="Address" [(ngModel)]="shipping.address" required />
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="city" name="city" placeholder="City" [(ngModel)]="shipping.city" required />
              </div>
              <div class="col-md-12 form-group">
                <input type="text" maxlength="6" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP" [(ngModel)]="shipping.zip"  required />
              </div>
              <div class="col-md-12 form-group">
              </div>
              
            </div>
            <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                  </a>
                </li>
                <li *ngFor="let c of objectKey">
                  <a href="#">{{cart[c].product.title}}
                    <span class="middle">x {{cart[c].quantity}}</span>
                  </a>
                </li>
              </ul>
                <br>
                <button [disabled]="!f.valid" style="text-align:center" class="btn_3" >Confirm</button>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <!--================End Checkout Area =================-->
<app-footer></app-footer>