<app-header></app-header>
<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h2>about us</h2>
            <p>Home <span>-</span> about us</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->

<!-- ================ contact section start ================= -->

<section class="contact-section padding_top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="contact-title">KeyenceIndia GTM <sup>&trade;</sup></h2>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-12">
            <p>
              The name etched in metal,
              secures almost every door in India. Since its inception in 2000 by
              Harsh Gautam, the name ‘KeyenceIndia GTM <sup>&trade;</sup>, has
              become synonymous with trust, protection and integrity. Today,
              after a period of more than 19 years, his legacy continues to
              ensure a high degree of security to consumers with the
              implementation of latest technology and constant innovation.
              KeyenceIndia GTM <sup>&trade;</sup> has made extraordinary
              hardware for small and large projects: luxury villas and estates,
              high end boutique hotels and award winning resorts. With exports
              of KeyenceIndia GTM <sup>&trade;</sup> Locking Solutions spanning
              across various countries, the brand has come a long way in
              delivering world class locking solutions.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
          <img src="assets/img/product/gtm.png" alt="" srcset="">
      </div>
    </div>
  </div>
</section>
<!-- ================ contact section end ================= -->
<app-footer></app-footer>
