.pull-right{
    text-align: right;
    float: right;
}
.pagination{
    float: center;
}
@media (max-width: 576px){
    .breadcrumb_bg {
        background-image: none;
      }
      .breadcrumb .breadcrumb_iner {
          margin-top: 50px;
        height: 175px;
        width: 100%;
        display: table;
      }
}
pagination-controls{
    text-align: center
}