<div >


<app-header></app-header>
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Shop Single</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  <!--================End Home Banner Area =================-->

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
            <div id="vertical">
              <div data-thumb="">
                <img alt="locks" src="{{product.imageUrl}}" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h3>{{product.title}}</h3>
            <!-- <h2>${{product.price}}</h2> -->
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span> : {{product.category}}</a>
              </li>
              <li>
                <a href="#"> <span>Availibility</span> : In Stock</a>
              </li>
            </ul>
            <p>
             {{product.desc}}
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">
              <a *ngIf="getQuantity(product) == null || getQuantity(product) == 0; else value" (click)="addToCart()" class="btn_3">add to cart</a>
              <ng-template #value>
                <div  class="product_count">
                    <span (click)="removeFromCart()" class="inumber-decrement"> <i class="ti-minus"></i></span>
                    &nbsp; &nbsp;{{getQuantity(product)}} &nbsp; &nbsp;
                    <span (click)="addToCart()" class="number-increment"> <i class="ti-plus"></i></span>
                  </div>
                  <a routerLink="/cart" class="btn_3">proceed to cart</a>
              </ng-template>  
              <!-- <a  class="like_us"> <i class="ti-heart"></i> </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div> 