
        <div  class="single_product_item">
          <div class="single_product_text">
              <div  (click)="singleProduct()">
                  <img src="assets/img/product/product_1.png" alt="">
                  <div >
                      <h4>{{product.title}}</h4>
                      <h3>${{product.price}}</h3>
                  </div>
              </div>
              <a (click)="addCart()" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
          </div>
        </div>
    